article:nth-of-type(2) {
    align-items: flex-start;
}

article:nth-of-type(2) p:nth-of-type(2) {
    grid-column-start: 2;
}

article:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 3.5));
    gap: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
    list-style: none;
    padding: 0;
    margin: 3em 0 0;
    overflow-x: scroll;
}